body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

.slider-container  {
    display: inline-block;
    margin-top: 30px;
}

input[type="range"] {
    display: block;
    margin: 10px;
}